RewriteEngine On

# Redirect van .html naar zonder .html
RewriteCond %{THE_REQUEST} \s/+(.+?)\.html[\s?] [NC]
RewriteRule ^ %1 [R=301,L]

# Intern herschrijven: /pagina -> /pagina.html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L]